/* body{
  margin: 0;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
} */

body{
  margin: 0;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));
}

.project-card-images {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px;
}

.project-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
